*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	line-height: 1.6;
	scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 1px;
}

body::-webkit-scrollbar {
	width: 3px;
}

body::-webkit-scrollbar-track {
	background: radial-gradient(#83b3e9, #423e3e);
}

img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

section {
	padding: 7rem 0;
}

header {
	height: 100vh;
}

.container {
	width: 85%;
	min-height: 50%;
	height: auto;
	max-width: 65em;
	margin: 0 auto;
	text-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: center;
	align-content: center;
}

.split {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1em;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.split > * {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	min-width: 15em;
}

.btn {
	display: inline-block;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.1rem;
	border-radius: 0.25em;
	padding: 0.5em 1.25em;
	background-color: #000000;
	color: var(--clr-text, whitesmoke);
	-webkit-transition: opacity 300ms linear, -webkit-transform 300ms ease-in;
	transition: opacity 300ms linear, -webkit-transform 300ms ease-in;
	transition: transform 300ms ease-in, opacity 300ms linear;
	transition: transform 300ms ease-in, opacity 300ms linear, -webkit-transform 300ms ease-in;
}

.btn:hover,
.btn:focus {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0.9;
}

.main-title {
	font-size: 4rem;
	font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
	line-height: 1;
	text-transform: uppercase;
}

.section-title {
	text-align: center;
	font-size: clamp(2.5rem calc(5vh, 1rem), 4rem);
	line-height: 100%;
	color: #487ab4;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.spacing > * + * {
	margin-top: var(--spacer, 2rem);
}

.hero {
	color: white;
	text-align: center;
	padding: 15em 0;
	background-color: #83b3e6;
}

@supports (background-blend-mode: soft-light) {
	.hero {
		background: url(./img/isaac-ibbott--002g4wurYQ-unsplash.jpg), radial-gradient(#83b3e9, #423e3e);
		background-size: cover;
		background-blend-mode: soft-light;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.featured .featured-2 {
	background: #eee;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
	height: auto;
	display: flex;
	flex-direction: column;
}

.featured-2 {
	font-stretch: extra-expanded;
	letter-spacing: 5px;
	min-height: 50vh;
	border-top: #83b3e9 solid 3px;
	border-bottom: #83b3e9 solid 3px;
	bottom: 10rem;
	background-image: url('https://images.unsplash.com/photo-1445375011782-2384686778a0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'),
		radial-gradient(#83b3e9, #423e3e);
	background-size: cover;
	background-blend-mode: soft-light;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.featured-2 h1 {
	margin: auto;
}

.featured-image {
	width: 8rem;
	height: 8rem;
	margin: auto;
	margin-top: 0.5rem;
}

.featured a {
	text-align: center;
	text-decoration: none;
	color: #000;
}

.featured {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 3rem;
	height: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	width: auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media all and (display-mode: fullscreen) {
	.featured-item {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.featured-image {
		width: 8rem;
		height: 8rem;
		margin: auto;
		margin-top: 2rem;
	}
}

.featured-item {
	display: flex;
	flex-direction: column;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
	text-decoration: none;
	color: #333;
}

.featured-item:hover,
.featured-item:focus {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.featured-item:hover .featured-details,
.featured-item:focus .featured-details {
	opacity: 1;
	text-shadow: 0 0 3px grey;
}

.featured-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	padding: 100% 100% 0 0;
	border-radius: 30%;
	background-color: #83b3e9;
	z-index: -1;
}

.featured-details {
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	-webkit-transition: opacity transition-time cubic-bezier(0.19, 1, 0.22, 1);
	transition: opacity transition-time cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.product {
	background: radial-gradient(var(--clrin, purple), var(--clrout, chocolate));
	padding: 3rem 0;
	border-radius: 3rem;
	margin-bottom: 3em;
	-ms-flex-line-pack: center;
	align-content: center;
	text-align: center;
	-webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

.product-description {
	margin: 1rem;
	text-justify: distribute-all-lines;
}

.product .btn {
	-webkit-transition: 300ms ease-out;
	transition: 300ms ease-out;
}

.product .btn:hover span {
	display: none;
}

.product-image {
	max-width: 10rem;
	max-height: 10rem;
	margin: auto;
}

@media (min-width: 45em) {
	.product-image {
		text-align: right;
		float: right;
		width: 50%;
		margin-right: 4rem;
		margin-bottom: 2rem;
	}
}

.product-title {
	font-size: 2rem;
	color: white;
	text-shadow: 0 0 0.4em black, 0.1;
}

@media (min-width: 45em) {
	.product-title {
		margin: 0;
		font-size: 3em;
	}
}

.product-guitar {
	--clrin: #3098ec6e;
	--clrout: #3d576d6e;
	--clracc: $clr-black;
}

.product-guitar .btn:hover:before {
	content: '$599';
}

.product-theremin {
	--clrin: #3d576d6e;
	--clrout: #8be5f56e;
	--clracc: $clr-black;
}

.product-theremin .btn:hover:before {
	content: '$499';
}

.product-piccolo {
	--clrin: rgba(113, 176, 228, 0.431);
	--clrout: #9ee9f3c5;
	--clracc: var(--clr-black);
}

.product-piccolo .btn:hover:before {
	content: '$999';
}
